
{%extends 'base1.html'%}

{%block content%}



<body>

<main id="main" class="main">


    <section class="section profile">

        <div class="col-xl-12">

          <div class="card" style="height:1100px">



{%if user.is_manager%}

    <h1  class="ml-3" style="margin-left:15px;color:#FF1493">Leave Approval</h1><hr>
    <p style="margin-left:10px;">Leave Request ID: {{ leave_request.id }}</p>
    <p style="margin-left:10px;">Employee: {{ leave_request.employee }}</p>
    <p style="margin-left:10px;">Leave Type: {{ leave_request.LeaveCategory }}</p>
    <p style="margin-left:10px;">Start Date: {{ leave_request.StartDate }}</p>
    <p style="margin-left:10px;">End Date: {{ leave_request.EndDate }}</p>
    <p style="margin-left:10px;">Reason: {{ leave_request.reason }}</p>

    <form method="POST">
        {% csrf_token %}
        <label for="approval_status" style="margin-left:10px;">Approval Status:</label>
        <select name="approval_status" id="approval_status" style="margin-left:10px;">
             <option value="pending">Pending</option>
            <option value="approved">Approved</option>
            <option value="rejected">Rejected</option>
        </select><br><br>
        <div class="form-group" style="margin-left:10px;">
					<label for="approver">
						Approver Name:
					</label>

					<input type="text"
						name="approvername"
						id="approvername"
                            value="{{ user.username }}"
						class="form-control w-50">

				</div><br>

        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments"></textarea><br>

     <button type="submit" class="btn btn-primary btn-lg text-center mt-3 ml-5" style="margin-left:15px;">Sumit</button>
        {%endif%}
      </form>

		  </div>
		</div>
	</section>
</main>
</body>

</html>
{% endblock%}
